<!DOCTYPE html>
<html lang="en">
<head>


    <style>
        body { background-color: #222831; }
      </style>



    <link type="text/css" rel="stylesheet" href="../static/css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <img src="../LOGO APEJO/APEJO_jaune-removebg-preview.png">

    <div id="carre">

        <p1>

        <input 
        type="text" 
        name="pseudo" 
        id="pseudo" 
        placeholder="Pseudo" 
        size="100"
        maxlength="50"

        />

        </p1>

        <br>

        <p2>

        <input
        type="password"
        name="pass"
        id="pass"
        placeholder="Mot de passe"
        size="100" 
        maxlength="50"
        
        
        />
        
        </p2>
         
    </div>
   

    <input class="styled"
    type="button"
    value="Create a new account">

</body>
</html>